# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# EC327 compiled binaries
app
insight_app
insight_test

# CMake / build
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Testing/
CTestTestfile.cmake

# Local binaries / test runs
run
test_run
debug_insights
*.log

# IDE files
.idea/
*.iml
modules.xml
workspace.xml
vcs.xml